.App {
  text-align: center;
}


.header-heading{
  margin-bottom: 50px;
}
.header-heading h1{
    background: black;
    color: #fff;
    margin: 0;
    padding: 20px;
}
select{
  width: 13%;
}
.form-field{
  margin-bottom: 20px;
  position: relative;
}
.error-field p{
  font-size: 14px;
  color: red;
  margin: 0px;
  position: absolute;
    left: 43.5%;
}
.props-span{
  background-color: aquamarine;
  padding: 5px 20px;
  margin: 0px 5px 0px 5px;
}
.row{
  background: rebeccapurple;
  margin: 13px 0px;
  padding:12px 0px;
  color: #fff;
}
strong{
  color: orange;
  margin: 0px 10px;
}
.api-span{
  background: black;
  padding: 6px;
  margin: 20px;
  border-radius: 5px;
}

/* @media only screen and (min-width: 320px) {
  .error-field p {
    left: 22.5%;
}
} */

.Menu-group{
width: 1200px;
margin: 0 auto;
}

.menu ul li{
  list-style: none;
  display: inline-block;
  padding: 27px 24px;
  margin: 13px 15px;
}
.menu ul li a{
  padding: 23px 20px;
  background: blueviolet;
  color: #fff;
  width: 150px;
  text-decoration: none;
  border-radius: 5px;
  transition: .4s;
  box-shadow: 1px 3px 6px rgb(0 0 0 / 80%);
}
.menu ul li a:hover{
  background-color: brown;
}
table, th, td {
  border: 1px solid black;
}